html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
#content {
  flex-grow: 1;
}
#map {
  height: 100%;
  width: 100%;
  position: relative;
  background: #000120;
  /* background: radial-gradient(circle, rgba(101, 160, 186, 1) 30%, rgba(11, 47, 71, 1) 80%); */
}