---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---
<div style="background: var(--green-bourgeon-975-75); overflow: hidden;">
  <div class="fr-container">
    <div class="fr-grid-row">
      <div class="fr-col-12 fr-col-sm-8 fr-col-lg-6 fr-py-5w fr-py-md-9w">
        <h1>Des cartes clé en main, rapidement intégrables à votre site</h1>
        <p class="fr-text--sm">
          Compatibles avec les données IGN et OpenStreetMap (prochainement)
          <span class="fr-grid-row fr-py-1w" style="gap: 0.75rem; height: 3rem">
            <img src="/icons/logo/logo_ign.webp" alt="Logo de l'IGN" style="max-height: 100%;">
            <img src="/icons/logo/logo_osm.webp" alt="Logo d'OpenStreetMap" style="max-height: 100%; max-width: 100%">
          </span>
        </p>
        <a class="fr-btn fr-btn--lg" href="{{ "/cartes" | locale_url }}">Découvrir les cartes</a>
      </div>
      <div class="fr-col" style="position: relative">
        <img src="/img/maps_transition3.webp" alt="Illustration des fonds de cartes" style="position: absolute; top: 0; bottom: 0; height: 100%">
      </div>
    </div>
  </div>
</div>
<div class="fr-container fr-py-5w fr-py-md-9w">
  <div class="fr-grid-row fr-grid-row--middle">
    <div class="fr-col-11 fr-col-sm-8 fr-col-md-5" style="position: relative;">
        <div style="border-radius: 1rem; overflow: hidden; filter: drop-shadow(var(--raised-shadow))" >
          <img src="/img/code_preview.webp" class="fr-responsive-img" alt="Illustration des lignes de code pour intégrer une carte."/>
        </div>
        <span class="fr-p-3v" style="position: absolute; right: -1.5rem; top: -1.5rem; border-radius: 50%; color: var(--green-bourgeon-main-640); background: var(--green-bourgeon-975-75); filter: drop-shadow(var(--raised-shadow));">
          <img src="/icons/timer-flash-line.svg" alt="" style="width: 3rem; height: 3rem;"/>
        </span>
    </div>
    <div class="fr-col-12 fr-col-md-6 fr-col-offset-md-1 fr-mt-3w fr-mt-md-0">
      <h2>Ajoutez-les en 2 minutes, en copiant quelques lignes</h1>
      <p class="fr-text--lead">
        Pour un rendu fonctionnelle et esthétique !
      </p>
      <a class="fr-btn fr-btn--secondary fr-btn--lg" href="{{ "/documentation/" | locale_url }}">Le guide pas à pas</a>
    </div>
  </div>
</div>
<div style="background: var(--background-alt-grey);">
  <div class="fr-container fr-py-6w">
    <h2 class="fr-grid-row fr-grid-row--center">{{  data.benefits_title | safe }}</h2>
    <div class="fr-grid-row fr-grid-row--gutters fr-my-4w">
      {% for benefit in data.benefits %}
        {% if not benefit.title.includes('🛠️') %}
          <div class="fr-col-12 fr-col-sm-6 fr-col-md-4">
            <div class="fr-col fr-card fr-card--sm fr-card--horizontal fr-card--shadow fr-card--no-border" style="border-radius: 0.25rem;">
              <div class="fr-card__body">
                <div class="fr-card__content">
                  <h3 class="fr-card__title">{{ benefit.title }}</h3>
                  <p class="fr-card__desc">{{ benefit.description }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

