.components-info-panel {
    font-family: Marianne, arial, sans-serif;
}

.components-info-panel-toggle {
    z-index: 2;
    padding: 0.25rem;
    display: none;
    position: absolute;
    background-color: var(--background-default-grey);
    color: var(--text-action-high-blue-france);
    border-radius: 0.25rem;
    filter: drop-shadow(var(--raised-shadow));
    bottom: 0.625rem;
    left: 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    cursor: pointer;
}

.components-info-panel-toggle__text {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: .25rem .75rem;
    width: fit-content;
}

.components-info-panel[aria-expanded="false"] .components-info-panel--extended {
    display: none;
}

.components-info-panel[aria-expanded="false"] .components-info-panel-toggle {
    display: inline-flex;
}

.components-info-panel--extended {
    position: absolute;
    width: 20rem;
    max-width: 100%;
    max-height: 88%;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: var(--background-default-grey);
    z-index: 2;
    filter: drop-shadow(var(--raised-shadow));
    bottom: 0.625rem;
    left: 0.625rem;
}

.components-info-panel__header {
    display: flex;
}

.components-info-panel__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.components-info-panel__json {
    font-size: 0.75rem;
    overflow: auto;
    white-space: pre-wrap;
    word-break: break-all;
}
