html, body { height: 100%; }
body { 
    display: flex;
    flex-direction: column;
}
#content { flex-grow: 1; }
#map { 
    height: 100%; 
    width: 100%; 
}

#open-panel-btn {
    border-radius: 0.25rem;
}

.map-panel {
    font-family: Marianne,arial,sans-serif;
}

.map-panel-toggle {
    z-index: 5;
    display: none;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.map-panel[aria-expanded="false"] .map-panel--extended {
    display: none;
}

.map-panel[aria-expanded="false"] .map-panel-toggle {
    display: inline-flex;
}

.map-panel--extended {
    position: absolute;
    width: 15rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-default-grey);
    z-index: 3;
    filter: drop-shadow(var(--raised-shadow));
    top: 0;
    bottom: 0;
    left: 0;
}

.map-panel__header {
    padding: 1rem;
    display: flex;
}

.map-panel__content {
    flex-grow: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
}

.map-panel__content h2 {
    margin-bottom: 0;
}

.map-card {
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    background-color: var(--background-default-grey);
    outline: 1px solid var(--border-default-grey);
    position: relative;
    border-radius: 0.25rem;
}

.map-card[aria-current="true"] {
    outline: 2px solid var(--border-active-blue-france);
}

.map-card__header span {
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--text-active-blue-france);
    z-index: 1;
}

.map-card[aria-current="true"] .map-card__header span {
    display: block;
}

.map-card__header {
    position: relative;
}

.map-card__img {
    flex: 0 0 auto;
}

.map-card:hover {
    background-color: var(--background-default-grey-hover);
}

.map-card__img img {
    aspect-ratio: 1.7777777778;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    border-radius: 0.25rem;
}

.map-card__content {
    padding: 0.25rem 0.5rem;
}

.map-card__title {  
    font-size: .875rem;
    line-height: 1.5rem;
    margin-bottom: 0.25rem;
}