body { margin: 0; padding: 0; font-family: Arial, sans-serif;}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
    
/* Bloc contenant zoom level et sélecteur de style */
#control-panel {
  position: absolute;
  top: 1rem; /* 1 rem pour la marge en haut */
  left: 1rem; /* 1 rem pour la marge à gauche */
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem; /* Padding interne de 1 rem */
  border-radius: 0.5rem; /* Bordures arrondies */
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.2); /* Ombre discrète */
  z-index: 1;
  gap: 1rem; /* Espace entre les éléments en flex */
  font-weight: bold;
}
/* Option de style pour le select */
#style-selector select {
  padding: 0.5rem; /* Padding interne du select */
}