{% set items = data.sidemenu %}
{% macro sidemenuList(subItems) %}
    {% for item in subItems %}
        <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
            {% if item.children.length > 0 %}
                <button class="fr-sidemenu__btn"
                        aria-expanded="false"
                        aria-controls="{{ item.url }}">{{ item.title }}</button>
                <div class="fr-collapse" id="{{ item.url }}">
                    <ul class="fr-sidemenu__list">
                        {{ sidemenuList(item.children) }}
                    </ul>
                </div>
            {% else %}
                <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                    <a href="{{ item.url }}"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-accordeon-accordion"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">
                        {{ item.title }}
                    </a>
                </li>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<nav
    role="navigation"
    aria-label="Menu latéral"
    class="fr-sidemenu fr-sidemenu--sticky-full-height fr-mb-0-5v"
    data-fr-js-sidemenu-actionee="true">
    <div class="fr-sidemenu__inner fr-pt-12v">
        <button aria-controls="sidemenu-286" aria-expanded="false" class="fr-sidemenu__btn" data-fr-js-collapse-button="true">
            Dans cette rubrique
        </button>
       <div id="sidemenu-286" class="fr-collapse" data-fr-js-collapse="true">
            <ul class="fr-sidemenu__list" data-fr-js-sidemenu-list="true">
                {{ sidemenuList(items) }}
            </ul>
        </div>
    </div>
</nav>

{% set docsLinks = collections.docsNavigation | filterCollectionLang | eleventyNavigation %}
<nav>
  <ul>
    {% for link in docsLinks %}
        {% set linkUrl = link.url | locale_url(lang) %}
        <li>
            <a href="{{ linkUrl }}"{% if linkUrl == page.url %} aria-current="page"{% endif %}>
            {{ link.title }}
          </a>
        </li>
    {% endfor %}
  </ul>
</nav>