---
title: Documentation
layout: layouts/docs.njk
description: Documentation et tutoriels pour l'utilisation des cartes.
eleventyNavigation:
  key: Documentation
  order: 2
  nav: main
---

<div class="fr-container--fluid">
  <div class="fr-grid-row fr-my-2w">
    <div class="fr-col">
      {% from "components/component.njk" import component with context %}
      {{ component("card", {
          url: "/documentation/prise-en-main/",
          title: "Prise en main",
          description: "Un tutoriel pour ajouter rapidement une carte dans un site web."
      }) }}
    </div>
  </div>
  <div class="fr-grid-row fr-my-2w">
    <div class="fr-col">
      {{ component("card", {
          url: "/documentation/concepts-fondamentaux/",
          title: "Concepts fondamentaux",
          description: "Un aperçu des concepts fondamentaux dans l'utilisation des cartes dans un site web."
      }) }}
    </div>
  </div>
  <div class="fr-grid-row fr-my-2w">
    <div class="fr-col">
      {{ component("card", {
          url: "/documentation/api-geographiques/api-adresse",
          title: "API géographiques",
          description: "Quelques bases explicatives pour l'utilisation des API géographiques, par exemple pour la recherche d'adresse et de communes."
      }) }}
    </div>
  </div>
</div>