<nav
    role="navigation"
    aria-label="Menu latéral"
    class="fr-sidemenu fr-sidemenu--sticky-full-height fr-mb-0-5v"
    data-fr-js-sidemenu-actionee="true">
    <div class="fr-sidemenu__inner fr-pt-12v">
        <button aria-controls="sidemenu-286" aria-expanded="false" class="fr-sidemenu__btn" data-fr-js-collapse-button="true">
            Dans cette rubrique
        </button>
        <div id="sidemenu-286" class="fr-collapse" data-fr-js-collapse="true">
            <ul class="fr-sidemenu__list" data-fr-js-sidemenu-list="true">
                <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                    <button
                        id="sidemenu__btn-composants"
                        aria-expanded="false"
                        aria-controls="composants-et-modeles-composants"
                        class="fr-sidemenu__btn"
                        data-fr-js-collapse-button="true">
                        Composants
                    </button>
                    <div
                        id="composants-et-modeles-composants"
                        class="fr-collapse fr-colapse"
                        data-fr-js-collapse="true"
                        data-fr-js-sidemenu-section-actionee="true"
                        style="--collapse: -2632px;">
                        <ul class="fr-sidemenu__list" data-fr-js-sidemenu-list="true">
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/composants/accordeon"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-accordeon-accordion"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Accordéon - Accordion</a>
                            </li>
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/composants/ajout-de-fichier"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-ajout-de-fichier-upload"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Ajout de fichier - Upload</a>
                            </li>
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/composants/alerte"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-alerte-alert"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Alerte - Alert</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                    <button
                        id="sidemenu__btn-blocs-fonctionnels"
                        aria-expanded="false"
                        aria-controls="composants-et-modeles-blocs-fonctionnels"
                        class="fr-sidemenu__btn"
                        data-fr-js-collapse-button="true">
                        Blocs fonctionnels
                    </button>
                    <div
                        id="composants-et-modeles-blocs-fonctionnels"
                        class="fr-collapse fr-colapse"
                        data-fr-js-collapse="true"
                        data-fr-js-sidemenu-section-actionee="true"
                        style="--collapse: -352px;">
                        <ul class="fr-sidemenu__list" data-fr-js-sidemenu-list="true">
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/blocs-fonctionnels/formulaires"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-formulaires"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Formulaires</a>
                            </li>
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/blocs-fonctionnels/adresse-electronique"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-adresse-electronique"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Adresse électronique
                                </a>
                            </li>
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/blocs-fonctionnels/civilite"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-civilite"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Civilité</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                    <button
                        id="sidemenu__btn-modeles"
                        aria-expanded="false"
                        aria-controls="composants-et-modeles-modeles"
                        class="fr-sidemenu__btn"
                        data-fr-js-collapse-button="true">
                        Modèles
                    </button>
                    <div
                        id="composants-et-modeles-modeles"
                        class="fr-collapse fr-colapse"
                        data-fr-js-collapse="true"
                        data-fr-js-sidemenu-section-actionee="true"
                        style="--collapse: -184px;">
                        <ul class="fr-sidemenu__list" data-fr-js-sidemenu-list="true">
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/modeles/page-de-creation-de-compte"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-page-de-creation-de-compte"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Page de création de compte</a>
                            </li>
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/modeles/page-de-connexion"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-page-de-connexion"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Page de connexion</a>
                            </li>
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/modeles/page-d-erreurs"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-page-d-erreurs"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Page d'erreurs</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                    <button
                        id="sidemenu__btn-composants-beta"
                        aria-expanded="false"
                        aria-controls="composants-et-modeles-composants-beta"
                        class="fr-sidemenu__btn"
                        data-fr-js-collapse-button="true">
                        Composants bêta
                    </button>
                    <div
                        id="composants-et-modeles-composants-beta"
                        class="fr-collapse fr-colapse"
                        data-fr-js-collapse="true"
                        data-fr-js-sidemenu-section-actionee="true"
                        style="--collapse: -280px;">
                        <ul class="fr-sidemenu__list" data-fr-js-sidemenu-list="true">
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/composants-beta/utiliser-des-composants-en-beta"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-utiliser-des-composants-en-beta"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Utiliser des composants en bêta</a>
                            </li>
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/composants-beta/graphiques-charts"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-graphiques-charts"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Graphiques - Charts</a>
                            </li>
                            <li class="fr-sidemenu__item" data-fr-js-sidemenu-item="true">
                                <a
                                    href="/composants-et-modeles/composants-beta/liste-deroulante-riche"
                                    class="fr-sidemenu__link"
                                    id="sidemenu__link-liste-deroulante-riche-"
                                    target="_self"
                                    data-fr-js-sidemenu-link-actionee="true">Liste déroulante riche 🆕</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>