---
layout: layouts/base.njk
---

<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-4">
      {% include "templates/sidemenu.njk" %}
    </div>
    <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          <hgroup>
            <h1>{{ title }}</h1>
          </hgroup>
        </div>
        <div class="fr-col-12 fr-col-md-3">
          <a class="fr-btn fr-btn--sm fr-btn--tertiary fr-btn--icon-left fr-icon-edit-line" href="{{ metadata.repository_url }}/blob/main/{{ page.inputPath }}">
            {{ "edit_this_page" | i18n }}
          </a>
        </div> 
      </div>
        {{ content | safe }}
    </div>
  </div>
</div>