---
layout: layouts/base.njk
---

<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-4">
      {% include "templates/sidemenu.njk" %}
    </div>
    <div id="contenu" class="fr-col-12 fr-col-md-8 fr-py-12v">
      <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9">
          <hgroup>
            <h1>{{ title }}</h1>
          </hgroup>
        </div>
        <div class="fr-col-12 fr-col-md-3">
          <button
            class="fr-btn fr-btn--sm fr-btn--tertiary fr-btn--icon-left fr-icon-external-link-line"
            onclick="window.location.href='https://github.com/';">
            {{ "edit_on_github" | i18n }}
          </button>
        </a>
      </div>
    </div>
    {{ content | safe }}
  </div>
</div>