---
layout: layouts/base.njk
showMaps: true
---

<!-- Bloc containing the map -->
<div id="map">
    {% include "components/map_picker.njk" %}
</div>

{% js "maps" %}
{% include "public/js/maps-viewer.js" %}
{% include "public/js/map-picker.js" %}
{% endjs %}